
*  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
}

/*Index*/

.navegador {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4em 6em;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    transition: 0.5s;
}

nav.white {
    background: white;
    height: 10vh;
}

#ul__menu.translate {
    position: relative;
    transform: translateY(-2.5em);
}

.ul__a.black {
    color: black;
}

.navegador__menu {
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: 0.5s;
    overflow: hidden;
}

.navegador__menu__lista {
    font-size: 1.7em;
}

.navegador__menu__lista a {
    color: white;
}

#portada__index {
    background: url(../imagenes/fondos/fondo_index.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.portada {
    width: 100%;
    height: 100vh;
    padding: 2em;
}

.portada__titulo {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    position: relative;
}

.portada__titulo__h1 {
    display: inline-block;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    color: #ffff01;
    font-family: "Allerta Stencil", sans-serif;
}

.portada__titulo__parrafo {
    width: 55%;
    display: inline-block;
    height: auto;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px 40px black;
    font-family: "Rock Salt", sans-serif;
    color: white;
}

.recorrido {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90vh;
}

.recorrido__uno {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding: 8em 10em;
    gap: 6em;
}

.recorrido__titulo {
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: 4em;
    text-align: center;
    padding: 2em;
    margin: 0;
    font-family: "Allerta Stencil", sans-serif;
    text-transform: uppercase;
    color: #01a0c6;
    position: relative;
    top: 1.5em;
}

.recorrido__uno__div {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding: 0;
    margin: 0;
}

.recorrido__uno__div__año {
    font-size: 2em;
    font-family: "Allerta Stencil", sans-serif;
}

.recorrido__uno__div__titulo {
    font-size: 2.2em;
    padding: 0em 0em 2em 0em;
    font-family: "Rock Salt", sans-serif;
}

.recorrido__uno__div__parrafo {
    font-size: 1.4em;
    text-align: justify;
}

.degustacion {
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 100%;
}

.degustacion__titulo {
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: 4em;
    text-align: center;
    padding: 2em 2em 0 2em;
    margin: 0;
    font-family: "Allerta Stencil", sans-serif;
    text-transform: uppercase;
    color: #f0047f;
    background-color: black;
}

.degustacion__div {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: flex-start;
    padding: 7em 10em;
    margin: 0;
    gap: 6em;
    background-color: rgb(0, 0, 0);
}

.degustacion__div__video {
    height: auto;
    background-color: lawngreen;
}

.degustacion__div__texto {
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.degustacion__div__texto__titulo--1 {
    font-size: 3em;
    font-family: "Allerta Stencil", sans-serif;
    color: white;
}

.degustacion__div__texto__titulo--2 {
    font-size: 3em;
    padding: 0em 0em 2em 0em;
    font-family: "Rock salt", sans-serif;
    color: white;
}

.degustacion__div__texto__parrafo {
    font-size: 1.5em;
    text-align: justify;
    color: white;
    font-family: "Poppins", sans-serif;
}

.documental {
    width: 100%;
    height: 90vh;
    padding: 0;
    margin: 0;
}

.documental__titulo {
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: 4em;
    text-align: center;
    padding: 2em 2em 0 2em;
    margin: 0;
    font-family: "Allerta Stencil", sans-serif;
    text-transform: uppercase;
    color: #80c41c;
}

.documental__div {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: flex-start;
    padding: 7em 10em;
    margin: 0;
    gap: 6em;
    background-color:white;
}

.documental__div__video {
    height: auto;
    background-color: lightseagreen;
}

.documental__div__video:nth-child(1) {
    order: 1;
}

.documental__div__texto {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.documental__div__texto__titulo--1 {
    font-size: 3em;
    font-family: "Allerta Stencil", sans-serif;
    color: black;
}

.documental__div__texto__titulo--2 {
    font-size: 3em;
    padding: 0em 0em 2em 0em;
    font-family: "Rock salt", sans-serif;
    color: black;
}

.documental__div__texto__parrafo {
    font-size: 1.5em;
    text-align: justify;
    color: black;
    font-family: "Poppins", sans-serif;
}

.newsletter {
    width: 100%;
    height: 60vh;
    background-color: rgb(0, 0, 0);
}

.newsletter__div {
    width: 100%;
    height: 60vh;
    background-color: rgb(0, 0, 0);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter__div__titulo {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0em 2em 0em 2em;
    font-size: 3em;
    text-transform: uppercase;
    color: #ffff01;
    font-family: "Allerta Stencil", sans-serif;
}

.newsletter__div__parrafo {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0;
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
    color: white;
}

.newsletter__div__email {
    width: 30%;
    display: inline-block;
}

.boton {
    display: inline-block;
    margin: 1em;
    background-color: yellow;
    width: 30%;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: black;
}

/*FOOTER*/


.footer {
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items: center;;
    padding: 4em;
    border-top-style: outset;
}

.footer__logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 2em;
    padding: 2em;
    align-items: end;
}

.footer__logo__img {
    width: auto;
    height: auto;
}

.footer__logo__img img {
    width: 100%;
    height: auto;
}

.footer__logo__derechos {
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    color: black;
    margin: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.footer__texto {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
    padding: 1em;
}

.footer__texto--1 {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 1.1em;
    color: black;
    margin: 0;
    text-transform: uppercase;
}

.footer__texto--2 {
    font-family: "Rock Salt", sans-serif;
    font-size: 1.8em;
    color: black;
    margin: 0;
}

.footer__texto--3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    color: black;
    margin: 0;
}

.footer__texto--3 a {
    color: black;
    text-decoration-line: underline;
}

.footer__seguinos__iconos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    font-size: 1.8em;
}

.footer__seguinos__iconos ul {
    list-style: none;
    margin: 0;
}

.footer__seguinos__iconos ul li {
    display: inline-block;
    margin: 0 5px 0 0;
}

#icono__youtube {
    color: #c4302b;
}

#icono__instagram {
    color: #c32aa3;
}

#icono__facebook {
    color: #3b5998;
}




/*INTEGRANTES*/

#portada__integrantes {
    background: url(../imagenes/fondos/fondo_integrantes.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.integrantes__titulo {
    width: 100%;
    height: auto;
    background-color: darkgreen;
    display: inline-block;
    font-size: 5em;
    text-align: center;
    padding: 1em;
    margin: auto;
}

.integrantes__grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2em;
    width: 100%;
    height: 50vh;
    padding: 2em;
    margin: 1em;
}

.integrantes__grid div {
    background-color: thistle;
    width: 100%;
    height: auto;
}

.invierno__grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    width: 100%;
    height: auto;
    padding: 2em;
    border-radius: 10px;
/*     position: absolute; */
}

.invierno__grid div p {
    position: absolute;
    bottom: 0.1em;
    left: 0;
    font-weight: bolder;
    font-size: 3em;
    visibility: hidden;
    color: white;
}


.invierno__grid div:hover p {
    visibility: visible;
    transform: translateX(12%);
    transition: all 0.5s ease;
    position: absolute;
}

.invierno__grid div {
    background-color: thistle;
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.invierno__grid div img {
    border-radius: 5px;
}

.invierno__grid--titulo {
    grid-row: 1 / 3;
}

.invierno__grid div:nth-child(1) {
    cursor: unset;
}

.verano__grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    width: 100%;
    height: auto;
    padding: 2em;
    border-radius: 5px;
}

.verano__grid div {
    background-color: thistle;
    width: auto;
    height: auto;
    cursor: pointer;
    position: relative;
}

.verano__grid div p {
    position: absolute;
    bottom: 0.1em;
    left: 0;
    font-weight: bolder;
    font-size: 3em;
    visibility: hidden;
    color: white;
}

.verano__grid div:hover p {
    visibility: visible;
    transform: translateX(12%);
    transition: all 0.5s ease;
    position: absolute;
}

.verano__grid div img {
    border-radius: 5px;
}

.verano__grid--titulo {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}

.verano__grid div:nth-child(1) {
    cursor: unset;
    border-radius: 5px;
}

.staff__titulo {
    width: 100%;
    height: 20vh;
    background-color: darkgreen;
    display: inline-block;
    font-size: 5em;
    text-align: center;
    padding: 1em;
    margin: auto;
}

.staff__grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 2em;
    width: 100%;
    height: auto;
    padding: 2em;
    border-radius: 5px;
}

.staff__grid div {
    background-color: thistle;
    width: 100%;
    height: auto;
    cursor: pointer;
    position: relative;
}
.staff__grid div p {
    position: absolute;
    bottom: 0.1em;
    left: 0;
    font-weight: bolder;
    font-size: 3em;
    visibility: hidden;
    color: white;
}

.staff__grid div:hover p {
    visibility: visible;
    transform: translateX(12%);
    transition: all 0.5s ease;
    position: absolute;
}

.staff__grid div img {
    border-radius: 5px;
}

#invierno__grid--1, #invierno__grid--2, #invierno__grid--3, 
#invierno__grid--4, #invierno__grid--5, #invierno__grid--6 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#verano__grid--1, #verano__grid--2, #verano__grid--3,
#verano__grid--4, #verano__grid--5, #verano__grid--6 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#staff__grid--1, #staff__grid--2, 
#staff__grid--3, #staff__grid--4 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*MODAL INTEGRANTES*/

.modal-body .modal-no-margin {
    margin: 0;
}

.modal-body div {
    height: auto;
    width: auto;
}

.modal-body div
#invierno__1, #invierno__2, #invierno__3,
#invierno__4, #invierno__5, #invierno__6 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.modal-body div 
#verano__1, #verano__2, #verano__3,
#verano__4, #verano__5, #verano__6 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.modal-body div
#staff__1, #staff__2, 
#staff__3, #staff__4 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*ESPECTACULOS*/

#portada__espectaculos {
    background: url(../imagenes/fondos/fondo_espectaculos.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}


.espectaculos__titulo {
    width: 100%;
    height: 20vh;
    background-color: darkgreen;
    display: inline-block;
    font-size: 5em;
    text-align: center;
    padding: 1em;
    margin: auto;
}

.espectaculos__2020 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: stretch;
    gap: 2em;
    padding: 4em;
/*     margin: 0 0 4em 0; */
    width: 100%;
    height: auto;
    background-color: rgb(83, 71, 255);
}

.espectaculos__2020__img {
    height: auto;
    width: auto;
    background-color: rgb(182, 122, 44);
    cursor: pointer;
/*     padding: 4em; */
/*     margin: 2em; */
}

.espectaculos__2020__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.espectaculos__2020__texto {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.espectaculos__2020__texto__titulo--1 {
    font-size: 12em;
    margin: 0;
    padding: 0;
}

.espectaculos__2020__texto__titulo--2 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    top: -1.2em;
}

.espectaculos__2018 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: stretch;
    gap: 2em;
    padding: 4em;
    width: 100%;
    height: auto;
    background-color: yellow;
}

.espectaculos__2018__texto {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.espectaculos__2018__img {
    background-color: rgb(19, 218, 191);
    height: auto;
    width: auto;
    margin: 2em;
    cursor: pointer;
}

.espectaculos__2018__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.espectaculos__2018__img:nth-child(1) {
    order: 1;
}

.espectaculos__2018__texto__titulo--1 {
    font-size: 12em;
    margin: 0;
    padding: 0;
}

.espectaculos__2018__texto__titulo--2 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    top: -1.2em;
}

.espectaculos__2016 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: stretch;
    gap: 2em;
    padding: 4em;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.espectaculos__2016__texto {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.espectaculos__2016__img {
    background-color: rgb(218, 99, 19);
    height: auto;
    width: auto;
    margin: 2em;
    cursor: pointer;
}

.espectaculos__2016__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.espectaculos__2016__texto__titulo--1 {
    font-size: 12em;
    margin: 0;
    padding: 0;
}

.espectaculos__2016__texto__titulo--2 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    top: -1.2em;
}

.espectaculos__2015 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: stretch;
    gap: 2em;
    padding: 4em;
    width: 100%;
    height: auto;
    background-color: teal;
}

.espectaculos__2015__texto {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.espectaculos__2015__img {
    background-color: rgb(138, 19, 218);
    height: auto;
    width: auto;
    margin: 2em;
    cursor: pointer;
}

.espectaculos__2015__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.espectaculos__2015__texto__titulo--1 {
    font-size: 12em;
    margin: 0;
    padding: 0;
}

.espectaculos__2015__texto__titulo--2 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    top: -1.2em;
}

.espectaculos__2015__img:nth-child(1) {
    order: 1;
}

.espectaculos__2013 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: stretch;
    gap: 2em;
    padding: 4em;
    width: 100%;
    height: auto;
    background-color: rgb(213, 22, 191);
}

.espectaculos__2013__texto {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.espectaculos__2013__img {
    background-color: rgb(138, 19, 218);
    height: auto;
    width: auto;
    margin: 2em;
    cursor: pointer;
}

.espectaculos__2013__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.espectaculos__2013__texto__titulo--1 {
    font-size: 12em;
    margin: 0;
    padding: 0;
}

.espectaculos__2013__texto__titulo--2 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    top: -1.2em;
}

/*MODAL*/

.modal__2020__sinopsis h4 {
    text-align: center;
    margin: 0 0 1em 0;
}

.modal__2020__integrantes h4 {
    text-align: center;
    margin: 0 0 1em 0;
}

.modal__2020__integrantes__contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: center;
}

.modal__2020__integrantes__contenedor ul {
    list-style: none;
}

/*HISTORIA*/

#portada__historia {
    background: url(../imagenes/fondos/fondo_historia.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.historia__contenedor {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
