/*-----Reset-----*/

*  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
}

/*-----General-----*/

/*--Nav--*/

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 8em;
    z-index: 100;
    transition: 0.5s;
}

nav.sticky {
    background: black;
    height: 10vh;
}

.nav__logo {
    width: 13%;
    height: auto;
    transition: 0.3s;
}

.nav__logo img {
    width: 100%;
    height: auto;
}

.nav__logo.logo-pequeño {
    width: 5%;
}

.nav__menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav__menu a {
    font-size: 1.5em;
    text-decoration: none;
    margin: 0 2em;
    padding: 0 1em;
    color: white;
    text-transform: uppercase;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
}

.nav__menu a:hover {
    color: #ffff01;
    transform: translateX(-10px);
}

nav .btn {
    color: white;
    font-size: 2em;
    cursor: pointer;
    display: none;
}

#menu__home,
#menu__espectaculos,
#menu__integrantes,
#menu__contacto,
#menu__historia {
    font-weight: bolder;
    color: #ffff01;
}


/*--Header--*/

.portada {
    width: 100%;
    height: 100vh;
    padding: 2em;
}

.portada__titulo {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    position: relative;
}

.portada__titulo__h1 {
    display: inline-block;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    color: #ffff01;
    font-family: "Allerta Stencil", sans-serif;
}

.portada__titulo__parrafo {
    width: auto;
    display: inline-block;
    height: auto;
    text-align: center;
    font-size: 2.5em;
    font-family: "Rock Salt", sans-serif;
    color: white;
}

/*Footer*/

.footer {
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items: center;;
    padding: 2em 4em;
    border-top-style: outset;
}

.footer__logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 2em;
    padding: 0 4em;
    align-items: end;
}

.footer__logo__img {
    width: auto;
    height: auto;
}

.footer__logo__img img {
    width: 100%;
    height: auto;
}

.footer__logo__derechos {
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    color: black;
    margin: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.footer__texto {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
    padding: 1em;
}

.footer__texto--1 {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 1.1em;
    color: black;
    margin: 0;
    text-transform: uppercase;
}

.footer__texto--1--b {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 1.1em;
    color: black;
    margin: 0;
    text-transform: uppercase;
    display: none;
}

.footer__texto--2 {
    font-family: "Rock Salt", sans-serif;
    font-size: 1.8em;
    color: black;
    margin: 0;
}

.footer__texto--2--b {
    font-family: "Rock Salt", sans-serif;
    font-size: 1.8em;
    color: black;
    margin: 0;
    display: none;
}

.footer__texto--3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    color: black;
    margin: 0;
    transition: 0.3s;
}

.footer__texto--3 a {
    color: black;
    text-decoration-line: underline;
}

.footer__texto--3 a:hover {
    color: #f0047f;
}

.footer__seguinos__iconos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    font-size: 1.8em;
}

.footer__seguinos__iconos ul {
    list-style: none;
    margin: 0;
}

.footer__seguinos__iconos ul li {
    display: inline-block;
    margin: 0 5px 0 0;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
}

.footer__seguinos__iconos ul li:hover {
    transform: scale(1.2, 1.2)
}

#icono__youtube {
    color: #c4302b;
}

#icono__instagram {
    color: #c32aa3;
}

#icono__facebook {
    color: #3b5998;
}


/*------Index------*/

#portada__index {
    background: url(../imagenes/fondos/fondo_index.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

/*--Sección Recorrido--*/

.recorrido {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

.recorrido__uno {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding: 8em 10em;
    gap: 6em;
}

.recorrido__titulo {
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: 4em;
    text-align: center;
    padding: 2em;
    margin: 0;
    font-family: "Allerta Stencil", sans-serif;
    text-transform: uppercase;
    color: #01a0c6;
    position: relative;
    top: 1.5em;
}

.recorrido__uno__div {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding: 0;
    margin: 0;
}

.recorrido__uno__div__año {
    font-size: 2em;
    font-family: "Allerta Stencil", sans-serif;
}

.recorrido__uno__div__titulo {
    font-size: 2.2em;
    padding: 0em 0em 2em 0em;
    font-family: "Rock Salt", sans-serif;
}

.recorrido__uno__div__parrafo {
    font-size: 1.4em;
    text-align: justify;
}


/*--Sección Degustación--*/

.degustacion {
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 100%;
}

.degustacion__titulo {
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: 4em;
    text-align: center;
    padding: 2em 2em 0 2em;
    margin: 0;
    font-family: "Allerta Stencil", sans-serif;
    text-transform: uppercase;
    color: #f0047f;
    background-color: black;
}

.degustacion__div {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: flex-start;
    padding: 7em 10em;
    margin: 0;
    gap: 6em;
    background-color: rgb(0, 0, 0);
}

.degustacion__div__video {
    height: auto;
    width: 100%;
}

.degustacion__div__texto {
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.degustacion__div__texto__titulo--1 {
    font-size: 3em;
    font-family: "Allerta Stencil", sans-serif;
    color: white;
}

.degustacion__div__texto__titulo--2 {
    font-size: 3em;
    padding: 0em 0em 2em 0em;
    font-family: "Rock salt", sans-serif;
    color: #f0047f;
}

.degustacion__div__texto__parrafo {
    font-size: 1.5em;
    text-align: justify;
    color: white;
    font-family: "Poppins", sans-serif;
}

/*--Sección Documental--*/

.documental {
    width: 100%;
    height: 90vh;
    padding: 0;
    margin: 0;
}

.documental__titulo {
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: 4em;
    text-align: center;
    padding: 2em 2em 0 2em;
    margin: 0;
    font-family: "Allerta Stencil", sans-serif;
    text-transform: uppercase;
    color: #80c41c;
}

.documental__div {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: flex-start;
    padding: 7em 10em;
    margin: 0;
    gap: 6em;
    background-color:white;
}

.documental__div__video {
    height: auto;
    background-color: lightseagreen;
}

.documental__div__video:nth-child(1) {
    order: 1;
}

.documental__div__texto {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.documental__div__texto__titulo--1 {
    font-size: 3em;
    font-family: "Allerta Stencil", sans-serif;
    color: black;
}

.documental__div__texto__titulo--2 {
    font-size: 3em;
    padding: 0em 0em 2em 0em;
    font-family: "Rock salt", sans-serif;
    color: #80c41c;
}

.documental__div__texto__parrafo {
    font-size: 1.5em;
    text-align: justify;
    color: black;
    font-family: "Poppins", sans-serif;
}

/*--Sección Newsletter--*/

.newsletter {
    width: 100%;
    height: 60vh;
    background-color: rgb(0, 0, 0);
}

.newsletter__div {
    width: 100%;
    height: 60vh;
    background-color: rgb(0, 0, 0);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter__div__titulo {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0em 2em 0em 2em;
    font-size: 3em;
    text-transform: uppercase;
    color: #ffff01;
    font-family: "Allerta Stencil", sans-serif;
}

.newsletter__div__parrafo {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0;
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
    color: white;
}

.newsletter__div__email {
    width: 30%;
    display: inline-block;
}

.newsletter__boton {
    display: inline-block;
    margin: 1em;
    background-color: yellow;
    width: 30%;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: black;
}

/*-----Integrantes-----*/

#portada__integrantes {
    background: url(../imagenes/fondos/fondo_integrantes.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.integrantes__grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2em;
    width: 100%;
    height: 50vh;
    padding: 2em;
    margin: 1em;
}

.integrantes__grid div {
    background-color: thistle;
    width: 100%;
    height: auto;
}

/*--Team Invierno--*/

.invierno {
    padding: 4em 6em;
}

.invierno__grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    width: 100%;
    height: auto;
    padding: 2em;
    border-radius: 10px;
}

.invierno__grid div p {
    position: absolute;
    bottom: 0.1em;
    left: 0;
    font-weight: bolder;
    font-size: 2em;
    visibility: hidden;
    color: white;
}


.invierno__grid div:hover p {
    visibility: visible;
    transform: translateX(12%);
    transition: all 0.5s ease;
    position: absolute;
}

.invierno__grid div {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.invierno__grid div img {
    border-radius: 5px;
}

.invierno__grid__titulo--hor {
    display: none;
}

.invierno__grid__titulo {
    grid-row: 1 / 3;
}

.invierno__grid__titulo img {
    width: 100%;
    height: auto;
}

.invierno__grid div:nth-child(1) {
    cursor: unset;
}

/*--Team Verano--*/

.verano {
    padding: 4em 6em;
}

.verano__grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    width: 100%;
    height: auto;
    padding: 2em;
    border-radius: 5px;
}

.verano__grid div {
    width: auto;
    height: auto;
    cursor: pointer;
    position: relative;
}

.verano__grid div p {
    position: absolute;
    bottom: 0.1em;
    left: 0;
    font-weight: bolder;
    font-size: 2em;
    visibility: hidden;
    color: white;
}

.verano__grid div:hover p {
    visibility: visible;
    transform: translateX(12%);
    transition: all 0.5s ease;
    position: absolute;
}

.verano__grid div img {
    border-radius: 5px;
}

.verano__grid__titulo--hor {
    display: none;
}

.verano__grid__titulo {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}

.verano__grid__titulo img {
    width: 100%;
    height: auto;
}

.verano__grid__titulo--1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Allerta Stencil", sans-serif;
    font-size: 9em;
}

.verano__grid__titulo--2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Allerta Stencil", sans-serif;
    font-size: 6em;
}

.verano__grid div:nth-child(1) {
    cursor: unset;
    border-radius: 5px;
}

/*--Staff--*/

.staff {
    padding: 4em 6em;
}

.staff__titulo {
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: 4em;
    text-align: center;
    padding: 1em 0 0 0;
    margin: auto;
    font-family: "Allerta Stencil", sans-serif;
    text-transform: uppercase;
    color: black;
}

.staff__grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 2em;
    width: 100%;
    height: auto;
    padding: 2em;
    border-radius: 5px;
}

.staff__grid div {
    width: 100%;
    height: auto;
    cursor: pointer;
    position: relative;
}
.staff__grid div p {
    position: absolute;
    bottom: 0.1em;
    left: 0;
    font-weight: bolder;
    font-size: 2em;
    visibility: hidden;
    color: white;
}

.staff__grid div:hover p {
    visibility: visible;
    transform: translateX(12%);
    transition: all 0.5s ease;
    position: absolute;
}

.staff__grid div img {
    border-radius: 5px;
}

#invierno__grid--1, #invierno__grid--2, #invierno__grid--3, 
#invierno__grid--4, #invierno__grid--5, #invierno__grid--6 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#verano__grid--1, #verano__grid--2, #verano__grid--3,
#verano__grid--4, #verano__grid--5, #verano__grid--6 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#staff__grid--1, #staff__grid--2, 
#staff__grid--3, #staff__grid--4 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*--Modal Integrantes--*/

.modal-body .modal-no-margin {
    margin: 0;
}

.modal-body div {
    height: auto;
    width: auto;
}

.modal-body div
#invierno__1, #invierno__2, #invierno__3,
#invierno__4, #invierno__5, #invierno__6 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.modal-body div 
#verano__1, #verano__2, #verano__3,
#verano__4, #verano__5, #verano__6 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.modal-body div
#staff__1, #staff__2, 
#staff__3, #staff__4 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*-----Espectaculos-----*/

#portada__espectaculos {
    background: url(../imagenes/fondos/fondo_espectaculos.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.espectaculos__titulo {
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: 4em;
    text-align: center;
    padding: 2em;
    margin: 0;
    font-family: "Allerta Stencil", sans-serif;
    text-transform: uppercase;
}

/*--Año 2020--*/

.espectaculos__2020 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
    padding: 8em;
    width: 100%;
    height: auto;
}

.espectaculos__2020__img {
    height: auto;
    width: auto;
    cursor: pointer;
    margin: 2em;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.espectaculos__2020__img:hover {
    transform: scale(1.1)
}

.espectaculos__2020__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.espectaculos__2020__texto {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.espectaculos__2020__texto__titulo--1 {
    font-size: 12em;
    margin: 0.2em;
    padding: 0;
    font-family: "Allerta Stencil", sans-serif;
}

.espectaculos__2020__texto__titulo--2 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    top: -1.2em;
    font-family: "Rock Salt", sans-serif;
    color: #f0047f;
}

/*--Año 2017--*/

.espectaculos__2017 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
    padding: 8em;
    width: 100%;
    height: auto;
    background-color: black;
}

.espectaculos__2017__texto {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.espectaculos__2017__img {
    height: auto;
    width: auto;
    margin: 2em;
    cursor: pointer;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.espectaculos__2017__img:hover {
    transform: scale(1.1)
}

.espectaculos__2017__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.espectaculos__2017__img:nth-child(1) {
    order: 1;
}

.espectaculos__2017__texto__titulo--1 {
    font-size: 12em;
    margin: 0.2em;
    padding: 0;
    font-family: "Allerta Stencil", sans-serif;
    color: white;
}

.espectaculos__2017__texto__titulo--2 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    top: -1.2em;
    font-family: "Rock Salt", sans-serif;
    color: #ff8b00;
}

/*--Año 2016--*/

.espectaculos__2016 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
    padding: 8em;
    width: 100%;
    height: auto;
}

.espectaculos__2016__texto {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.espectaculos__2016__img {
    height: auto;
    width: auto;
    margin: 2em;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 0.3s;
}

.espectaculos__2016__img:hover {
    transform: scale(1.1)
}

.espectaculos__2016__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.espectaculos__2016__texto__titulo--1 {
    font-size: 12em;
    margin: 0.2em;
    padding: 0;
    font-family: "Allerta Stencil", sans-serif;
}

.espectaculos__2016__texto__titulo--2 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    top: -1.2em;
    font-family: "Rock Salt", sans-serif;
    color: #01a0c6;
}

/*--Año 2015--*/

.espectaculos__2015 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
    padding: 8em;
    width: 100%;
    height: auto;
    background-color: black;
}

.espectaculos__2015__texto {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.espectaculos__2015__img {
    height: auto;
    width: auto;
    margin: 2em;
    cursor: pointer;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.espectaculos__2015__img:hover {
    transform: scale(1.1)
}

.espectaculos__2015__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.espectaculos__2015__texto__titulo--1 {
    font-size: 12em;
    margin: 0.2em;
    padding: 0;
    font-family: "Allerta Stencil", sans-serif;
    color: white;
}

.espectaculos__2015__texto__titulo--2 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    top: -1.2em;
    font-family: "Rock Salt", sans-serif;
    color: #80c41c;
}

.espectaculos__2015__img:nth-child(1) {
    order: 1;
}

/*--Año 2013--*/

.espectaculos__2013 {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
    padding: 8em;
    width: 100%;
    background-color:white;
}

.espectaculos__2013__texto {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.espectaculos__2013__img {
    height: auto;
    width: auto;
    margin: 2em;
    cursor: pointer;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.espectaculos__2013__img:hover {
    transform: scale(1.1)
}

.espectaculos__2013__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.espectaculos__2013__texto__titulo--1 {
    font-size: 12em;
    margin: 0.2em;
    padding: 0;
    font-family: "Allerta Stencil", sans-serif;
}

.espectaculos__2013__texto__titulo--2 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    top: -1.2em;
    font-family: "Rock Salt", sans-serif;
    color: #f0047f;
}

/*--Modal Espectaculo--*/

.modal__espectaculos__body {
    padding: 2em 4em;
}

.modal__espectaculos__header {
    padding: 1em 4em;
}

.modal-header h3 {
    font-family: "Allerta Stencil", sans-serif;
    text-transform: uppercase;
}

.modal__espectaculos h4 {
    text-align: center;
    margin: 0 0 1em 0;
    font-family: "Rock Salt", sans-serif;
}

.modal__espectaculos {
    font-size: 1.2em;
}

.modal__espectaculos__sinopsis p {
    text-align: justify;
    line-height: 1.7em;
}

.modal__espectaculos__integrantes__contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: start;
}

.modal__espectaculos__integrantes__contenedor ul {
    list-style: none;
}

.modal__espectaculos__integrantes__contenedor h6 {
    text-transform: uppercase;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: bolder;
}

#modal__h4__2020,
#modal__h4__2013 {
    color: #f0047f;
}

#modal__h4__2017 {
    color: #ff8b00;
}

#modal__h4__2016 {
    color:  #01a0c6;;
}

#modal__h4__2015 {
    color: #80c41c;
}

/*-----Historia-----*/

#portada__historia {
    background: url(../imagenes/fondos/fondo_historia.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.historia__contenedor {
    height: 100vh;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: start;
    padding: 5em 10em;
    gap: 4em;
}

.historia__titulo {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

/*--Título--*/

.historia__titulo h2 {
    color: #01a0c6;
    font-family: "Allerta Stencil", sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    margin: 0 0 0.5em 0;
}

.historia__titulo h3 {
    font-family: "Rock Salt", sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 0 0 2em 0;
}

.historia__titulo p {
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
}

/*--Modal Historia--*/

.card {
    margin: 2em;
    background-color: black;
}

.card-header h2 button {
    font-family: "Allerta Stencil", sans-serif;
}

.card-body {
    background-color: white;
    border-bottom: solid 1px;
    font-size: 1.3em;
}

/*--Botones Collapse--*/

#button__2020, #button__2016, #button__2012 {
    color: #f0047f;
}

#button__2019, #button__2015, #button__2011 {
    color: #80c41c;
}

#button__2018, #button__2014 {
    color: #ff8b00;
}

#button__2017, #button__2013 {
    color: #01a0c6;
}

/*-----Contacto-----*/

#portada__contacto {
    background: url(../imagenes/fondos/fondo_contacto.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    padding: 4em 8em;
}

/*--Título--*/

.portada__contacto__titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
}

.portada__contacto__h1 {
    display: inline-block;
    font-size: 5em;
    text-transform: uppercase;
    color: #ffff01;
    font-family: "Allerta Stencil", sans-serif;
}

.portada__contacto__h3 {
    display: inline-block;
    font-size: 2.5em;
    text-shadow: 2px 2px 40px black;
    font-family: "Rock Salt", sans-serif;
    color: white;
    margin: 0 0 2em 0;
}

.portada__contacto__p--1,
.portada__contacto__p--2 {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1.5em;
    line-height: 1em;
    transition: all 0.2s;
}

.portada__contacto__p--2:hover {
    transform: translateY(-5px);
}

.portada__contacto__titulo a {
    text-decoration-line: underline;
    color: white;
}

.portada__contacto__form form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*--Form Contacto--*/

.form__contacto__nombre,
.form__contacto__mail,
.form__contacto__textarea {
    width: 75%;
    height: auto;
    margin: 0 0 1em 0;
}

.form__contacto__boton {
    width: 75%;
    background-color: #ffff01;
    height: auto;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: black;
}


/*------Media Queries------*/

/*(desktops, menos que 1200px)*/
@media (max-width: 1199.98px) {

    body {
        font-size: 9px;
    }

    /*---Header---*/

    .portada__titulo__parrafo {
        width: 90%;
    }

    /*---index---*/

    .recorrido {
        height: auto;
    }

    .recorrido__titulo {
        padding: 1em;
    }

    .recorrido__uno {
        padding: 8em 7em;
        gap: 5em;
    }

    /*---Espectaculos---*/

    .modal__espectaculos__integrantes__contenedor {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* Medium devices (tablets, menos que 992px)*/
@media (max-width: 991.98px) {

    /*---Nav---*/

    .nav__menu a {
        margin: 0 0.2em;
    }

    .nav__logo {
        width: 20%;
    }

    .nav__logo.logo-pequeño {
        width: 10%;
    }

    /*--Header--*/

    .portada__titulo__h1 {
        font-size: 4em;
    }

    .portada__titulo__parrafo {
        font-size: 2em;
    }

    /*---Index---*/

    .recorrido__titulo {
        top: 0;
    }

    .recorrido__uno {
        grid-template-columns: 1fr 1fr;
        padding: 2em 8em;
        gap: 4em;
    }

    .degustacion,
    .documental {
        height: auto;
    }

    .degustacion__div,
    .documental__div {
        grid-template-columns: 1fr;
        justify-items: center;
        height: auto;
    }

    .degustacion__div__video,
    .documental__div__video {
        width: 80%;
    }

    .degustacion__div__texto,
    .documental__div__texto {
        padding: 0 6em;
    }

    .degustacion__div__texto__titulo--1,
    .documental__div__texto__titulo--1 {
        display: none;
    }

    .degustacion__div__texto__titulo--2 {
        padding: 0 0 1em 0;
    }

    .documental__div__video:nth-child(1) {
        order: 0;
    }

    .documental__div__texto__titulo--2 {
        padding: 0 0 1em 0;
    }

    /*---Newsletter---*/

    .newsletter__div__titulo {
        font-size: 2.8em;
    }

    .newsletter__div__email {
        width: 50%;
    }

    .newsletter__boton {
        width: 50%;
    }

    /*---Espectaculos---*/

    .espectaculos__2020,
    .espectaculos__2017,
    .espectaculos__2016,
    .espectaculos__2015,
    .espectaculos__2013 {
        padding: 6em;
        grid-template-columns: 1fr;
    }

    .espectaculos__2020__texto,
    .espectaculos__2017__texto,
    .espectaculos__2016__texto,
    .espectaculos__2015__texto,
    .espectaculos__2013__texto {
        font-size: 0.7em;
    }

    .espectaculos div {
        margin: 0;
    }

    .espectaculos__2013 {
        height: auto;
    }

    .espectaculos__2015__img:nth-child(1),
    .espectaculos__2017__img:nth-child(1) {
        order: 0;
    }

    .modal-body .row {
        flex-direction: column;
    }

    .modal__espectaculos__integrantes__contenedor {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5em;
    }
    
    .modal-content {
        overflow: hidden;
    }

    .modal__espectaculos__body {
        padding: 1em 4em;
    }

    .modal__espectaculos__integrantes {
        font-size: 0.9em;
    }

    .modal__espectaculos h4 {
        margin: 0 0 0.5em 0;
    }

    /*---Historia---*/

    .historia__contenedor {
        padding: 5em 6em;
        gap: 2em;
    }

    .historia__titulo h3 {
        line-height: 2.5em;
    }

    .card-body {
        font-size: 1.5em;
    }

    /*---Contacto---*/

    .form__contacto__nombre, 
    .form__contacto__mail, 
    .form__contacto__textarea,
    .form__contacto__boton {
        width: 100%;
    }

    #portada__contacto {
        padding: 4em 7em;
        gap: 3em;
    }

    .portada__contacto__titulo {
        font-size: 0.9em;
        position: relative;
        bottom: 8em;
    }

    /*---Footer---*/

    .footer__texto {
        padding: 0;
    }
}

/*Small devices (pantalla en horizontal, menos que 768px)*/
@media (max-width: 769px) {
    body {
        font-size: 8.5px;
    }

    /*----Nav----*/

    nav .btn {
        display: block;
        font-size: 2.5em;
    }

    .nav__menu {
        position: fixed;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 3em;
        font-size: 1.4em;
        transition: 0.5s;
    }

    .close-btn {
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1em 3em;
        font-size: 0.8em;
    }

    nav .nav__menu a {
        display: block;
        font-size: 1em;
        margin: 2em;
        padding: 0 1em;
        color: white;
        font-size: 1.5em;
    }

    nav .nav__menu.active {
        right: 0;
    }

    /*---Index---*/

    .recorrido {
        height: auto;
    }

    .recorrido__uno {
        padding: 4em 8em;
        gap: 3em;
    }

    /*---Espectaculos---*/

    .espectaculos__2020,
    .espectaculos__2017,
    .espectaculos__2016,
    .espectaculos__2015,
    .espectaculos__2013 {
        justify-items: center;
    }

    .espectaculos__2020__img,
    .espectaculos__2017__img,
    .espectaculos__2016__img,
    .espectaculos__2015__img,
    .espectaculos__2013__img {
        width: 90%;
    }

    /*---Historia---*/

    .historia__contenedor {
        grid-template-columns: 1fr;
    }

    /*---Integrantes---*/

    .verano {
        margin: 0 0 2em 0;
    }

    .verano__grid, 
    .invierno__grid {
        grid-template-columns: 1fr 1fr;
    }

    .verano__grid__titulo {
        grid-column: 1;
    }

    .staff__grid {
        grid-template-columns: 1fr 1fr;
    }

    /*---Contacto---*/

    #portada__contacto {
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 10em 10em;
        justify-content: space-evenly;
    }

    .portada__contacto__titulo {
        font-size: 0.8em;
        bottom: 0;
        height: auto;
    }

    .portada__contacto__p--1,
    .portada__contacto__p--2 {
        font-size: 1.7em;
    }

    .portada__contacto__form {
        width: 100%;
        height: auto;
    }

    .portada__contacto__form form {
        height: auto;
    }

    .form__contacto__nombre,
    .form__contacto__mail,
    .form__contacto__textarea {
        margin: 0 0 0.5em 0;
    }

    .form-control {
        font-size: 0.7rem;
    }

    /*---Footer---*/

    .footer {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;

    }

    .footer__logo {
        grid-template-columns: 1fr;
    }

    .footer__texto {
        gap: 0;
    }

    .footer__texto--1,
    .footer__texto--2,
    .footer__texto--3 {
        text-align: center;
    }

    .footer__seguinos__iconos {
        font-size: 2.8em;
        justify-content: center;
    }
}

/* Extra small devices (teléfonos vertical, menos que 576px)*/
@media (max-width: 575.98px) {

    body {
        font-size: 7px;
    }

    /*---Nav---*/

    .nav__logo {
        width: 30%;
    }

    .nav__logo.logo-pequeño {
        width: 18%;
    }

    /*---Header---*/

    .portada__titulo__h1 {
        font-size: 4.3em;
        
    }

    .portada__titulo__parrafo {
        font-size: 2.3em;
    }

    /*---Index---*/


    .recorrido__titulo {
        padding: 1em 3em;
    }

    .recorrido__uno {
        grid-template-columns: 1fr;
        padding: 4em 4em;
    }

    .recorrido__uno__div__año {
        font-size: 3em;
        margin: 0.2em;
    }

    .recorrido__uno__div__titulo {
        padding: 0 0 1.5em 0;
    }

    .recorrido__uno__div__parrafo {
        padding: 0 4em;
        font-size: 1.7em;
    }

    .documental__titulo {
        padding: 1em 3em 0 3em;
    }

    .degustacion__div__texto,
    .documental__div__texto {
        padding: 0;
    }

    .degustacion__div__video,
    .documental__div__video {
        width: 100%;
    }

    .degustacion__div__texto__parrafo,
    .documental__div__texto__parrafo {
        font-size: 1.8em;
        margin: 0;
    }

    .newsletter__boton {
        width: 50%;
        margin: 0.3em;
        padding: 0;
    }

    /*---Footer---*/

    .footer__texto {
        row-gap: 2em;
    }

    .footer__texto__consulta .footer__texto--2 {
        display: none;
    }

    .footer__texto__consulta .footer__texto--2--b {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .footer__texto__ensayo .footer__texto--1{
        display: none;
    }

    .footer__texto__ensayo .footer__texto--1--b {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .footer__texto__seguinos .footer__texto--1 {
        display: none;
    }

    /*---Historia---*/

    #portada__historia {
        background: url(../imagenes/fondos/fondo_historia.jpg) no-repeat 7%;
        background-size: cover;
        background-attachment: fixed;
    }
    .historia__titulo p {
        font-size: 1.7em;
    }

    /*---Espectaculos---*/

    #portada__espectaculos {
        background: url(../imagenes/fondos/fondo_espectaculos.jpg) no-repeat 100%;
        background-size: cover;
        background-attachment: fixed;
    }

    .espectaculos__2020__img,
    .espectaculos__2017__img,
    .espectaculos__2016__img,
    .espectaculos__2015__img,
    .espectaculos__2013__img {
        width: 90%;
    }

    .modal__espectaculos__sinopsis p {
        font-size: 1.3em;
    }

    .modal__espectaculos__integrantes__contenedor, ul, p {
        font-size: 1.2em;
    }

    .modal__espectaculos h4 {
        padding: 0.5em 0;
    }

    .modal-header h3 {
        font-size: 3.2em;
    }

    /*---Contacto---*/

    #portada__contacto {
        height: 100vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: stretch;
    }

    .portada__contacto__titulo {
        height: auto;
        font-size: 1.1em;
        padding: 0;
    }

    .portada__contacto__form form {
        height: auto;
    }

    /*---Integrantes---*/

    #portada__integrantes {
        background: url(../imagenes/fondos/fondo_integrantes.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    #portada__integrantes .portada__titulo__h1 {
        font-size: 3.5em;
    }

    .invierno__grid,
    .verano__grid,
    .staff__grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .invierno__grid__titulo--hor,
    .verano__grid__titulo--hor {
        display: inline-block;
    }

    .invierno__grid__titulo,
    .verano__grid__titulo {
        display: none;
    }

    .invierno__grid__titulo--hor img,
    .verano__grid__titulo--hor img {
        width: 100%;
    }

    .modal.fade.show {
        height: 100vh;
    }

    .modal__espectaculos__integrantes__contenedor {
        column-gap: 2em;
    }
}

/*Mobile tamaño L (menos que 425px)*/
@media (max-width: 425px) {

    body {
        font-size: 7px;
    }

    /*---Nav bar---*/

    .nav__logo.logo-pequeño {
        width: 22%;
    }

    /*---Index---*/

    .newsletter__div__parrafo {
        padding: 0 6em;
    }

    /*---Footer---*/

    .footer {
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
    }


    .footer__logo {
        row-gap: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 0;
    }

    .footer__logo__img {
        width: 30%;
    }

    .footer__logo__img img {
        width: 80%;
    }

    .footer__logo__derechos p {
        margin: 0;
    }

    .footer__texto {
        row-gap: 1em;
        width: 100%;
    }

    .footer__texto__consulta {
        display: none;
    }

    .footer__texto__seguinos {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer__texto--2 {
        margin: 0;
    }

    .footer__seguinos__iconos {
        width: auto;
    }

    .footer__seguinos__iconos ul {
        margin: 0 0 0 1em;
    }

    /*--Contacto--*/

    .portada__contacto__titulo {
        font-size: 1em;
    }

    .portada__contacto__h1 {
        font-size: 4em;
    }
}

/*Mobile tamaño S (pantalla menos que 330px)*/
@media (max-width: 330px) {

    body {
        font-size: 6px;
    }

    /*--Nav--*/

    nav {
        padding: 4em 8em;
    }

    .close-btn {
        margin: 2.5em 4em;
    }

    /*--Index--*/

    .recorrido__uno {
        padding: 2em 2em;
    }

    .degustacion__div,
    .documental__div {
        padding: 4em 7em;
    }

    .degustacion__titulo,
    .documental__titulo {
        padding: 2em 2em 0 2em;
    }

    .newsletter__div__email,
    .newsletter__boton {
        width: 70%;
    }

    /*---Espectaculos---*/

    .modal-dialog-centered.modal-dialog-scrollable 
    .modal-content {
        width: auto;
    }

    .espectaculos__2020__img,
    .espectaculos__2017__img,
    .espectaculos__2016__img,
    .espectaculos__2015__img,
    .espectaculos__2013__img {
        width: 100%;
    }

    /*---Contacto---*/

    .portada__contacto__titulo {
        margin: 0 0 4em 0;
        font-size: 1em;
    }

    .portada__contacto__h1 {
        font-size: 4em;
    }

    .portada__contacto__p--1,
    .portada__contacto__p--2 {
        font-size: 2em;
        margin: 0 0 0.2em 0;
    }
